div.background-shape::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("/blob-0.png");
  width: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  z-index: -100;
  }


div.background-shape::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/blob-1.png");
  width: 97px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 235px;
  z-index: -100;
}


.start-button:hover,
.submit-button:hover,
.play-again-button:hover {
  background-color: #3b4790;
}


section{
      margin-top: 40px;
}


.intro-box{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  height: 100vh;          
  text-align: center;
}


.intro-title{
  font-family: Karla;
font-weight: 700;
font-size: 31.25px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #293264;
}

.intro-description{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #293264;
margin-top: 0%;
}

.start-button{
  font-family: Inter;
font-weight: 500;
background-color: #4D5B9E;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
background: #4D5B9E;
border-radius: 10px;
color: #F5F7FB;
border: none;
display: block;
width: 193px;
height: 52px;
margin-left: auto;
margin-right: auto;
padding: 11px 22px;
margin-top: 20px;
}

.question-box {
  display: inline-block;
  margin-left: 75px;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease;
  border: none;
  max-width: 400px;
  }
  
  
 legend{
  font-family: Karla;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
 }


label{
      border: 0.79px solid #4D5B9E;
   border-radius: 8px;
   font-family: Inter;
font-weight: 500;
font-size: 13px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
padding: 4px 16px;
 }

 .answer-input {
  display: none;
    }
 

.options {
     margin-top: 16px;
     display: flex;
     gap: 13px;
 white-space: nowrap;
        }

.divider{
    border: 0.79px solid #DBDEF0;
    margin-block: 14px;
    max-width: 350px;
    }


.disabled-submit-button{
opacity: 0.5;
pointer-events: none;
cursor: not-allowed;
font-family: Inter;
font-weight: 300;
font-size: 10.24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
background: #4D5B9E;
border-radius: 10px;
color: #F5F7FB;
border: none;
display: block;
width: 120px;
margin-left: auto;
margin-right: auto;
padding: 11px 22px;
margin-top: 20px;
}


.submit-button {
font-family: Inter;
font-weight: 300;
font-size: 10.24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
background: #4D5B9E;
border-radius: 10px;
color: #F5F7FB;
border: none;
display: block;
width: 120px;
margin-left: auto;
margin-right: auto;
padding: 11px 22px;
margin-top: 20px;
}


.quiz-option {
  border: 0.79px solid #4D5B9E;
  border-radius: 8px;
  font-family: Inter;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding: 4px 16px;
  display: inline-block; /* eğer gerekiyorsa */
  cursor: pointer;       /* hover efekti için */
  transition: all 0.2s ease;
}

.correct-answer { background-color: #94D7A2; }
.incorrect-answer { background-color: #F8BCBC; opacity: 0.5; }
.remaining-answer { opacity: 0.5; }
.selected-answer { background-color: #D6DBF5; }


.score-box {
  display: flex;
}

.score-box > span {
  margin-top: 29px;
  margin-left: 180px;
font-family: Inter;
font-weight: 700;
font-size: 12.8px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}

.play-again-button {
     font-family: Inter;
font-weight: 300;
font-size: 10.24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
background: #4D5B9E;
border-radius: 10px;
color: #F5F7FB;
border: none;
display: block;
width: 120px;
margin-left: 20px;
margin-right: auto;
padding: 11px 22px;
margin-top: 20px;
}